<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Photo Visit</title>
    <link rel="stylesheet" type="text/css" href="/static/visit_page.css">
</head>
<center>
    <body style="background-image: url('/static/picture/BackGround.jpg');">
        <div class="whole_frame">
            <div class="nav_bar">
                <div class="function_button">
                    <span><a href="{{ url_for('upload_function',user_name=name)}}">picture upload</a></span>
                </div>
                <div class="function_button">
                    <span><a href="{{ url_for('visit_function', user_name=name)}}">view thumbnail</a></span>
                </div>
                <div class="function_button">
                    <span><a href="{{ url_for('logout_function')}}">logging out</a></span>
                </div>
            </div>
            <div class="upper_frame">
                <span>Please Click on each Thumbnail to see Processed Picture</span>
            </div>
            <div class="middle_frame">
                <div class="show_personnale">
                    <div class="show_avatar">
                        <img src="/static/picture/logo.jpg" alt="webpage logo" class="webpage_logo">
                    </div>
                    <div class="show_name">
                        <span>Welcome, {{ name }}</span>
                    </div>
                </div>
                <div class="error_messages">
                    {% for msg in get_flashed_messages() %}
                    <p class="login-box-msg">{{ msg }}</p>
                    {% endfor %}
                </div>
                <div class="show_picture">
                    {% for i in count %}
                        <div class="each_picture">
                            <div class="each_no">
                                <span>No. {{ i }}</span>
                            </div>
                            <div class="each_pic">
                                <a href = "{{ url_for('result_function', user_name=name, photo_id=i) }}">
                                <img class="pic_content" src="{{ thumbnail_used_address[i-1] }}"
                                 alt="You have not uploaded the photo.
                                 Please click 'Upload picture' to upload your photo"></a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="lower_frame">
                <span>This is the web application for face detection </span><br>
                <span> Co-worker: Zhonghao Li, Botao Liu</span>
            </div>
        </div>
    </body>
</center>

</html>